<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Juni Bot | Dashboard</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./assets/css/dashboard.css" defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" defer>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" defer>

    <link rel="apple-touch-icon" href="../img/favicon.png" sizes="180x180">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    <meta name="theme-color" content="blue">
    <link rel="stylesheet" href="./assets/pwa.webmanifest">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@izemlab">
    <meta name="twitter:creator" content="@izemlab">
    <meta name="twitter:title" content="Juni Bot | Izem Lab">
    <meta name="twitter:description" content="Um simples bot multifuncional para o seu servidor Discord! Deixe o seu servidor muito mais divertido e organizado com o Juni!">
    <meta name="twitter:image" content="https://junibot.izemlab.repl.co/img/favicon.png">

    <meta property="og:url" content="https://junibot.izemlab.repl.co/dashboard">
    <meta property="og:title" content="Juni Bot | Izem Lab">
    <meta property="og:description" content="Um simples bot multifuncional para o seu servidor Discord! Deixe o seu servidor muito mais divertido e organizado com o Juni!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://junibot.izemlab.repl.co/img/favicon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="80">
    <meta property="og:image:height" content="80">
</head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="./assets/bot.png" alt="" width="50" height="50" class="rounded-circle"> &nbsp; <span>Hbot</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/commands.html">Commands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/team.html">Staff</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="linksdrop" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Links
            </a>
            <ul class="dropdown-menu bgn" aria-labelledby="linksdrop">
              <li><a class="dropdown-item text-muted font-weight-bold" href="" target="_blank">Invite
                  Bot</a>
              </li>
              <li><a class="dropdown-item text-muted font-weight-bold" href="" target="_blank">Support
                  Server</a></li>
              <li><a class="dropdown-item text-muted font-weight-bold" href="pages/faq.html">FAQ</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-muted font-weight-bold" href="https://github.com/Hadi-Koubeissi"
                  target="_blank">Official Github</a></li>
              <li><a class="dropdown-item text-muted font-weight-bold" href="">View Documentation</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex ml-auto" id="headerlogin">
          <li class="nav-item" style="list-style: none;">
            <a class="nav-link btn btn-outline-secondary login" href="/login">Login</a>
          </li>
        </div>
      </div>
    </div>
  </nav>
  </div>

  <div class="container">
    
    <div class="row justify-content-around">
      <% guilds.forEach((guild) => { %>
        <a href="./dashboard/<%= guild.id %>" class="col-4">
          <%= guild.name %>
        </a>
      <% }) %>
    </div>
  </div>

  <script src="../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/materialize.min.js"></script>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/main.js"></script>
  <style>.col-4{margin-left: inherit; margin-bottom: 7px;}</style>
</body>

</html>