<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carlos - o melhor bot para a sua comunidade</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="apple-touch-icon" href="dist/images/favicon.png">
    <link rel="manifest" href="dist/pwa.webmanifest">
    <link rel="mask-icon" href="dist/images/favicon.png" color="#7952b3">
    <link rel="icon" href="dist/images/favicon.png">
    <link rel="canonical" href="https://carlosbot.miguel-tibincoski.repl.co">
  </head>

  <body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
								<img src="dist/images/favicon.png" alt="Carlos Bot" style="width:55px;height:55px;border-radius:50%">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">O melhor bot para a sua comunidade</h1>
                            <p class="hero-paragraph">Nele, há tudo do que você precisa: moderação, diversão e administração (e até música).</p>
                            <div class="hero-cta"><a class="button button-shadow" href="./dashboard"><i class="fas fa-cogs" style="margin-right: 5px;"></i>Dashboard</a><a class="button button-primary button-shadow" href="./invite"><i class="fas fa-plus" style="margin-right: 5px;"></i> Adicionar o Bot</a>
                            </div>
                        </div>
                      <i class="fas fa-angles-down"></i>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <h2 class="section-title mt-0">Funcionalidades do Carlos</h2>
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="68" height="64" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M568.1 196.3l-22.62-22.62c-4.533-4.533-10.56-7.029-16.97-7.029s-12.44 2.496-16.97 7.029l-5.654 5.656l-20.12-20.12c4.596-23.46-2.652-47.9-19.47-64.73l-45.25-45.25C390.2 17.47 347.1 0 303.1 0C258.2 0 216 17.47 184.3 49.21L176.5 57.05L272.5 105.1v13.81c0 18.95 7.688 37.5 21.09 50.91l49.16 49.14c13.44 13.45 31.39 20.86 50.54 20.86c4.758 0 9.512-.4648 14.18-1.387l20.12 20.12l-5.654 5.654c-9.357 9.357-9.357 24.58-.002 33.94l22.62 22.62c4.535 4.533 10.56 7.031 16.97 7.031s12.44-2.498 16.97-7.031l90.53-90.5C578.3 220.8 578.3 205.6 568.1 196.3zM270.9 192.4c-3.846-3.846-7.197-8.113-10.37-12.49l-239.5 209.2c-28.12 28.12-28.16 73.72-.0371 101.8C35.12 505 53.56 512 71.1 512s36.84-7.031 50.91-21.09l209.1-239.4c-4.141-3.061-8.184-6.289-11.89-9.996L270.9 192.4z"/></svg>
                                    </div>
                                    <h3 class="feature-title mt-24">Moderação</h3>
                                    <p class="text-sm mb-0">Deixe-o moderar seu servidor: não se preocupe mais em alertar usuários que xingam ou enviam spams. Ele já pode fazer isso por você.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="68" height="64" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.1 367.1c0 44.18-42.98 80-95.1 80s-95.1-35.82-95.1-79.1c0-44.18 42.98-79.1 95.1-79.1c11.28 0 21.95 1.92 32.01 4.898V148.1L192 224l-.0023 208.1C191.1 476.2 149 512 95.1 512S0 476.2 0 432c0-44.18 42.98-79.1 95.1-79.1c11.28 0 21.95 1.92 32 4.898V126.5c0-12.97 10.06-26.63 22.41-30.52l319.1-94.49C472.1 .6615 477.3 0 480 0c17.66 0 31.97 14.34 32 31.99L511.1 367.1z"/></s</svg>
                                    </div>
                                    <h3 class="feature-title mt-24">Música</h3>
                                    <p class="text-sm mb-0">Sua comunidade pode ouvir <a href="https://lofigirl.com/">Lofi Girl</a> em um canal de voz na hora da jogatina ou cantarolar uma música com a letra dela.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <linearGradient x1="50%" y1="100%" x2="50%" y2="43.901%" id="feature-3-a">
                                                    <stop stop-color="#F97059" stop-opacity=".798" offset="0%"></stop>
                                                    <stop stop-color="#F9425F" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                                <linearGradient x1="58.893%" y1="100%" x2="58.893%" y2="18.531%" id="feature-3-b">
                                                    <stop stop-color="#F9425F" stop-opacity=".8" offset="0%"></stop>
                                                    <stop stop-color="#47A1F9" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                                <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="feature-3-c">
                                                    <stop stop-color="#FDFFDA" offset="0%"></stop>
                                                    <stop stop-color="#F97059" stop-opacity=".798" offset="49.935%"></stop>
                                                    <stop stop-color="#F9425F" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                            </defs>
                                            <g fill="none" fill-rule="evenodd">
                                                <path fill="url(#feature-3-a)" opacity=".32" d="M0 24h64v40H0z"></path>
                                                <path fill="url(#feature-3-b)" d="M40 24H24L0 64h64z"></path>
                                                <path d="M10 10v22c0 12.15 9.85 22 22 22h22V32c0-12.15-9.85-22-22-22H10z" fill="url(#feature-3-c)" transform="rotate(45 32 32)"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <h3 class="feature-title mt-24">Discover</h3>
                                    <p class="text-sm mb-0">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise design.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <linearGradient x1="0%" y1="100%" x2="50%" y2="0%" id="feature-4-a">
                                                    <stop stop-color="#F9425F" stop-opacity=".8" offset="0%"></stop>
                                                    <stop stop-color="#47A1F9" stop-opacity=".16" offset="100%"></stop>
                                                </linearGradient>
                                                <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="feature-4-b">
                                                    <stop stop-color="#FDFFDA" offset="0%"></stop>
                                                    <stop stop-color="#F97059" stop-opacity=".798" offset="49.935%"></stop>
                                                    <stop stop-color="#F9425F" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                            </defs>
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M24 64H0V40c0-13.255 10.745-24 24-24h24v24c0 13.255-10.745 24-24 24" fill="url(#feature-4-a)" transform="matrix(-1 0 0 1 48 0)"></path>
                                                <path d="M40 48H16V24C16 10.745 26.745 0 40 0h24v24c0 13.255-10.745 24-24 24" fill="url(#feature-4-b)"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <h3 class="feature-title mt-24">Discover</h3>
                                    <p class="text-sm mb-0">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise design.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <linearGradient x1="0%" y1="100%" x2="50%" y2="0%" id="feature-5-a">
                                                    <stop stop-color="#F9425F" stop-opacity=".8" offset="0%"></stop>
                                                    <stop stop-color="#47A1F9" stop-opacity=".16" offset="100%"></stop>
                                                </linearGradient>
                                                <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="feature-5-b">
                                                    <stop stop-color="#FDFFDA" offset="0%"></stop>
                                                    <stop stop-color="#F97059" stop-opacity=".798" offset="49.935%"></stop>
                                                    <stop stop-color="#F9425F" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                            </defs>
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M24 63H0V39c0-13.255 10.745-24 24-24h24v24c0 13.255-10.745 24-24 24" fill="url(#feature-5-a)" transform="matrix(-1 0 0 1 48 0)"></path>
                                                <path d="M40 48H16V24C16 10.745 26.745 0 40 0h24v24c0 13.255-10.745 24-24 24" fill-opacity=".24" fill="url(#feature-5-a)" transform="matrix(-1 0 0 1 80 0)"></path>
                                                <path d="M10.113 10.113v22c0 12.15 9.85 22 22 22h22v-22c0-12.15-9.85-22-22-22h-22z" fill="url(#feature-5-b)" transform="rotate(45 32.113 32.113)"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <h3 class="feature-title mt-24">Discover</h3>
                                    <p class="text-sm mb-0">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise design.</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="feature-6-a">
                                                    <stop stop-color="#FDFFDA" offset="0%"></stop>
                                                    <stop stop-color="#F97059" stop-opacity=".798" offset="49.935%"></stop>
                                                    <stop stop-color="#F9425F" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                                <linearGradient x1="58.893%" y1="100%" x2="58.893%" y2="18.531%" id="feature-6-b">
                                                    <stop stop-color="#F9425F" stop-opacity=".8" offset="0%"></stop>
                                                    <stop stop-color="#47A1F9" stop-opacity="0" offset="100%"></stop>
                                                </linearGradient>
                                            </defs>
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M24 48H0V24C0 10.745 10.745 0 24 0h24v24c0 13.255-10.745 24-24 24" fill="url(#feature-6-a)"></path>
                                                <path fill-opacity=".64" fill="url(#feature-6-b)" d="M24 29.229h40V64H0z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <h3 class="feature-title mt-24">Discover</h3>
                                    <p class="text-sm mb-0">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise design.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="media section">
                <div class="container-sm">
                    <div class="media-inner section-inner">
                        <div class="media-header text-center">
                            <h2 class="section-title mt-0">Meet Laurel</h2>
                            <p class="section-paragraph mb-0">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
                        </div>
                        <div class="media-canvas">
                            <svg width="800" height="450" viewBox="0 0 800 450" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="media-canvas">
                                        <stop stop-color="#06101F" offset="0%"></stop>
                                        <stop stop-color="#1D304B" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <rect width="800" height="450" rx="8" fill="url(#media-canvas)" fill-rule="evenodd"></rect>
                            </svg>
                            <div class="media-control">
                                <svg width="96" height="96" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <linearGradient x1="87.565%" y1="15.873%" x2="17.086%" y2="80.538%" id="media-control">
                                            <stop stop-color="#FFF" stop-opacity=".64" offset="0%"></stop>
                                            <stop stop-color="#FFF" offset="100%"></stop>
                                        </linearGradient>
                                        <filter x="-500%" y="-500%" width="1000%" height="1000%" filterUnits="objectBoundingBox" id="media-shadow">
                                            <feOffset dy="16" in="SourceAlpha" result="shadowOffsetOuter"></feOffset>
                                            <feGaussianBlur stdDeviation="24" in="shadowOffsetOuter" result="shadowBlurOuter"></feGaussianBlur>
                                            <feColorMatrix values="0 0 0 0 0.024 0 0 0 0 0.064 0 0 0 0 0.12 0 0 0 0.24 0" in="shadowBlurOuter"></feColorMatrix>
                                        </filter>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd">
                                        <circle fill="#FFF" cx="48" cy="48" r="48" style="mix-blend-mode:multiply;filter:url(#media-shadow)"></circle>
                                        <circle fill="url(#media-control)" cx="48" cy="48" r="48"></circle>
                                        <path d="M44.6 39.2a1.001 1.001 0 0 0-1.6.8v18a1.001 1.001 0 0 0 1.6.8l12-9a.998.998 0 0 0 0-1.6l-12-9z" fill="#1D304B"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="newsletter section">
                <div class="container-sm">
                    <div class="newsletter-inner section-inner">
                        <div class="newsletter-header text-center">
                            <h2 class="section-title mt-0">Stay in the know</h2>
                            <p class="section-paragraph">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
                        </div>
                        <div class="footer-form newsletter-form field field-grouped">
                            <div class="control control-expanded">
                                <input class="input" type="email" name="email" placeholder="Your best email…">
                            </div>
                            <div class="control">
                                <a class="button button-primary button-block button-shadow" href="#">Early access</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    <iframe src="../" /> 
      
    </div>

    <script src="dist/js/main.min.js"></script>


</body></html>