.container .guild .guildIcon{
  border-radius: 50%;
  display: inline-block;
  width: 75px;
  height: 75px;
  vertical-align: unset;
  margin: 3px;
}
.content.container .guildImg{
  border-radius: 50%;
  width: 150x;
  height: 150px;
  padding: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content{
  align-items: center;
}
.container .nav{
  margin-top: 15px;
}
.container .guild{
  margin: 15px;
  background-color: blue;
  border-radius: 15px;
  padding: 15px;
}

.container .guild .guildName{
  color: white;
  font-size: 25px;
  font-style: bold;
  border: transparent thin solid;
  padding: 5px;
  margin: 0px 10px 10px 0;
  max-width: 186px;
  display: inline-block;
}
a.btn.btn-login.btn-outline-primary.my-2.my-sm-0:hover{
  color: white !important;
}